 
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.namecolor{
    color: orange;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding: 2%;

}
p{
    color: dimgray;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    }
section{
        height: 500px;
        padding-bottom: 150px;
    
    
 }
.button{
         text-decoration: none;
         background-image: linear-gradient(5deg, lightsalmon,tomato);
        padding:10px 20px;
        border: 1px solid gray;
        border-radius: 5px;
        color: white;
        font-weight: 700;
 }
.dream{
    background-image: url("images/bg.png");
   background-repeat: no-repeat;
   background-position: right;
    
}
.exp{
    
}
.same{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    border-radius: 10px;
    background-color: white;
}
.exp{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#stick{
    border-left:8px solid ;
    border-image:linear-gradient( lightsalmon,tomato);
    border-image-slice: 1;
}
#stick2{
    border-left:8px solid ;
    border-image:linear-gradient( lightblue,blue);
    border-image-slice: 1;
}
.foo{
    text-align: center;
}